.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.DS_Store
Gemfile.lock
Gemfile.lock.*
tmp/rspec_guard_result

coverage/.last_run.json

coverage/.resultset.json
